@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Open+Sans:wght@400;600&display=swap');
* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: -webkit-gradient(linear, left bottom, right top, from(#0e1085), to(#5f0909));
	background: linear-gradient(to top right, #0e1085, #5f0909);
}

nav {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	height: 100vh;
	font-family: 'Open sans', sans-serif;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

nav:first-of-type {
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	padding-left: 5em;
}

nav:last-of-type {
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 5em;
}

nav img {
	height: 14vh;
}

nav img:hover {
	-webkit-animation: rotate 1s forwards;
	animation: rotate 1s forwards;
}

nav ul {
	list-style: none;
}

nav ul li + li {
	margin-top: 1.5em;
}

nav ul a {
	color: #cfcfcf;
	text-decoration: none;
	font-size: 1.125rem;
}

nav ul a.active {
	color: #fafafa;
	font-weight: bold;
}

nav ul a:hover {
	color: #fafafa;
}

.hide {
	display: none !important;
}

.show {
	visibility: visible !important;
}

@-webkit-keyframes rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotate {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

body {
	overflow: hidden;
}

.heading {
	margin: auto;
	text-align: center;
	margin-top: 1.75em;
}

.heading h1 {
	color: #e7e7e7;
	letter-spacing: 1.5px;
	font-family: 'Merriweather', serif;
	text-transform: capitalize;
	font-size: 2.25rem;
}

.heading h1 span {
	text-transform: uppercase;
}

.card {
	background: #e7e7e7;
	width: 11rem;
	-webkit-box-shadow: 0 0 10px 1px rgba(17, 17, 17, 0.7);
	box-shadow: 0 0 10px 1px rgba(17, 17, 17, 0.7);
	border-radius: 10px;
	padding-block: 1.5em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	bottom: 7rem;
	left: 0;
	right: 0;
	margin: auto;
}

.card img {
	width: 6rem;
	height: 6rem;
	display: block;
	margin-bottom: 1.75em;
}

.card button {
	color: #fafafa;
	background: #123456;
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.35em 0.9em;
	border: none;
	-webkit-box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0.25em;
}

.card button:hover {
	cursor: pointer;
	-webkit-filter: brightness(1.1);
	filter: brightness(1.1);
}

.card button:active {
	-webkit-transform: scale(97%);
	transform: scale(97%);
}

.card.card-1 button {
	background: #ec5628;
}

.card.card-2 button {
	background: #2bcc46;
}

.card.card-3 button {
	background: #fcaa12;
}

.card.card-1 {
	-webkit-animation: top 1s 0.5s forwards;
	animation: top 1s 0.5s forwards;
}

.card.card-2 {
	-webkit-animation: bottom-left 1s 1.5s forwards;
	animation: bottom-left 1s 1.5s forwards;
}

.card.card-3 {
	-webkit-animation: bottom-right 1s 2.5s forwards;
	animation: bottom-right 1s 2.5s forwards;
}

@-webkit-keyframes top {
	to {
		-webkit-transform: translateY(-11rem);
		transform: translateY(-11rem);
	}
}

@keyframes top {
	to {
		-webkit-transform: translateY(-11rem);
		transform: translateY(-11rem);
	}
}

@-webkit-keyframes bottom-left {
	to {
		-webkit-transform: translate(-10rem, 4.5rem);
		transform: translate(-10rem, 4.5rem);
	}
}

@keyframes bottom-left {
	to {
		-webkit-transform: translate(-10rem, 4.5rem);
		transform: translate(-10rem, 4.5rem);
	}
}

@-webkit-keyframes bottom-right {
	to {
		-webkit-transform: translate(10rem, 4.5rem);
		transform: translate(10rem, 4.5rem);
	}
}

@keyframes bottom-right {
	to {
		-webkit-transform: translate(10rem, 4.5rem);
		transform: translate(10rem, 4.5rem);
	}
}
/*# sourceMappingURL=index.css.map */
