<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/recreation.css">
    <title>Recreation | Time-it</title>
</head>

<body>
    <nav>
        <a href="index"><img src="../static/images/logo.svg"></a>
    </nav>

    <main>
        <div class="row">
            <h2>💭 Thought of the day 💭</h2>
            <h3><span>❛❛</span>{{quote}}<span>❜❜</span></h3>
        </div>
        <div class="row">
            <h2>❓ Fact of the day ❓</h2>
            <h3>{{fact}}</h3>
        </div>
        <div class="row">
            <h2>🧠 Study Tip of the day 🧠</h2>
            <h3>{{hack}}</h3>
        </div>
        <div class="row">
            <h2>😂 Stand-up Comedy of the day 😂</h2>
            <iframe src="{{source}}" allowfullscreen=True></iframe>
        </div>
    </main>

    <nav>
        <ul>
            <li>
                <a href="timetable">Time Table</a>
            </li>
            <li>
                <a href="reminders">Reminders</a>
            </li>
            <li>
                <a href="recreation" class="active">Recreation</a>
            </li>
        </ul>
    </nav>
</body>

</html>