<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/images/logo.svg" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/timetable.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"
        defer></script>
    <script src="../static/js/timetable.js" defer></script>
    <title>Time Table | Time-it</title>
</head>

<body>
    <nav>
        <a href="index"><img src="../static/images/logo.svg"></a>
    </nav>

    <main>
        <div class="timetable">
            <div class="row {{link1}}" id="9-10">{{task1}}</div>
            <div class="row {{link2}}" id="10-11">{{task2}}</div>
            <div class="row {{link3}}" id="11-12">{{task3}}</div>
            <div class="row {{link4}}" id="12-13">{{task4}}</div>
            <div class="row {{link5}}" id="13-14">{{task5}}</div>
            <div class="row {{link6}}" id="14-15">{{task6}}</div>
            <div class="row {{link7}}" id="15-16">{{task7}}</div>
            <div class="row {{link8}}" id="16-17">{{task8}}</div>
            <div class="row {{link9}}" id="17-18">{{task9}}</div>
            <div class="row {{link10}}" id="18-19">{{task10}}</div>
            <div class="row {{link11}}" id="19-20">{{task11}}</div>
            <div class="row {{link12}}" id="20-21">{{task12}}</div>
            <div class="caret"></div>
        </div>
    </main>

    <nav>
        <ul>
            <li>
                <a href="timetable" class="active">Time Table</a>
            </li>
            <li>
                <a href="reminders">Reminders</a>
            </li>
            <li class="active">
                <a href="recreation">Recreation</a>
            </li>
        </ul>
    </nav>

    <div class="popup-container">
        <div class="popup">
            <form method="post">
                <label for="name">Task</label>
                <input type="text" name="name" maxlength="40" id="task">
                <label for="link">Link</label>
                <input type="url" name="link" id="link">
                <input type="hidden" name="curr_row" id="current_row">
                <div class="buttons">
                    <input type="button" class="btn btn-cancel" value="Cancel">
                    <input type="submit" class="btn btn-done" value="Done">
                    <input type="button" class="btn btn-join" value="Join">
                </div>
            </form>
        </div>
    </div>
</body>

</html>